:root{
    --main-text: #CAD3F5;
}

@font-face {
    font-family: 'FiraFont';
    font-weight: normal;
    src: url('font/FiraCodeNerdFont-Regular.ttf'),
}
@font-face {
    font-family: 'FiraFont';
    font-weight: bold;
    src: url('font/FiraCodeNerdFont-Bold.ttf'),
}
@font-face {
    font-family: 'FiraFontLight';
    src: url('font/FiraCodeNerdFont-Light.ttf');
}

.accentBright{
    color: #F5BDE6;
}

.accentGreen{
    color: #A6DA95;
}

.accentCyan{
    color: #8BD5CA;
}

.accentYellow{
    color: #EED49F;
}

.accentBlue{
    color: #8AADF4;
}

.lightText{
    font-family: 'FiraFontLight';
}



.command{
    padding: 10px;
}


.boxcontainer{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    justify-content: flex-start;
    max-width: 80%;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 100px;
    min-height: 20%;
  }

body{
    height: 100%;
    font-family: 'FiraFont', sans-serif;
    background-color: #171421e5;
    color: var(--main-text);
}

html{
    height: 100%;
    border: 0;
}

*{
    margin: 0;
    
}

.bg-image{
    background-image: url(bg.jpg);
    background-position: 30% 30%; 
    height: 100%;
    background-repeat: no-repeat;
    filter: blur(0px);
    border: 0;
}

.terminal{
    position: absolute;
    background-color: #2a1534af;
    width: 60%;
    height: 50%;
    border-radius: 10px;
    left: 20%;
    top: 20%;
    overflow: hidden;
    scrollbar-width: 0px;
    scrollbar-color: transparent transparent;
    border: solid;
    border-width: 3px;
    border-color: #2a1534af;
}

.terminalHeader{
    background-color: #2a1534af;
    text-anchor: middle;
    z-index: 10;
    cursor: move;
    width: 100%;
    height: 30px;
    border-radius: 10px 10px 0px 0px;
    align-items: center;
    display: flex;
}




a:link {
    color: var(--main-text);
    text-decoration-line: none;
}
  

a:visited {
    color: var(--main-text);
    text-decoration-line: none;
}
  
a:hover {
    color: var(--main-text);
    text-decoration-line: none;
}
  

a:active {
    color: var(--main-text);
    text-decoration-line: none;
}


r{
    color: rebeccapurple;
}

input{
    background-color: transparent;
    font-family: FiraFont;
    font-size: medium;
    color: #A6DA95;
    border: transparent;
}

input::placeholder{
    color: var(--main-text);
}
input:focus{
    border-color: transparent;
    outline: none;
}

button{
    background-color: transparent;
    border: transparent;
    font-family: FiraFont;
    color: #8AADF4;
    font-size: medium;
    cursor: pointer;
}
